.footer {
  max-width: 100%;
  min-width: 1023px;
  background: #041827;
  padding: 48px 0 55px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__accordion {
    display: flex;
    gap: 4.3vw;
    margin-right: 25px;
  }

  &__list-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 215px;
    gap: 25px;
    margin-left: 15px;
    margin-top: 30px;
  }

  &__accordion-button {
    background: transparent;
    border: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 7px 0 20px;
  }

  &__site-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 5px;
    min-width: 418px;
    max-height: 160px;

    & a {
      font-family: "PT Mono", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__contacts-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 5px;
    max-width: 345px;
    min-height: 160px;

    & a {
      font-family: "PT Mono", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 1023px;
    min-width: 768px;
    padding: 50px 0 65px;

    &__container {
      flex-direction: column;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list-links {
      gap: 25px;
      margin: 0;
    }

    &__accordion {
      max-width: 924px;
      min-width: 670px;
      margin-right: 0;
      gap: 0;
      justify-content: space-between;
      padding-top: 24px;
    }

    &__site-list {
      min-width: auto;
      max-height: none;
    }

    &__contacts-list {
      max-width: none;
      min-height: auto;
    }
  }
}

.footer__accordion-content--margin {
  margin-right: 13px;
}

@media (max-width: 767px) {
  .footer {
    max-width: 767px;
    min-width: 320px;
    padding: 36px 0 34px;

    &__container {
      padding: 0;
    }

    &__links {
      flex-direction: column;
      padding: 0 17.1vw  0 15.6vw;
      gap: 13px;
    }

    &__list-links {
      margin-left: 8px;
    }

    &__accordion {
      flex-direction: column;
      width: 100%;
      max-width: none;
      min-width: 100%;
      max-height: none;
      min-height: auto;
      padding-top: 23px;
    }

    &__accordion-element {
      border-top: 1px solid rgba(248, 253, 255, 0.7);
      border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    }

    &__accordion-button {
      width: 100%;
      padding-left: 26px;
      padding-top: 22px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 28px;
        right: 26px;
        width: 15px;
        height: 1px;
        background: #c4c4c4;
      }

      &::before {
        content: "";
        position: absolute;
        right: 26px;
        top: 28px;
        width: 15px;
        height: 1px;
        background: #c4c4c4;
        transform: rotate(90deg);
      }
    }

    &__site-list {
      margin-left: 26px;
      padding-bottom: 18px;

      & a {
        font-size: 14px;
        line-height: 135%;
      }
    }

    &__contacts-list {
      margin-left: 26px;
      padding-bottom: 18px;
      gap: 7px;

      & a {
        font-size: 14px;
        line-height: 135%;
      }
    }
  }

  .footer__accordion-element--margin {
    margin-top: -1px;
  }

  .footer__contact-item--margin {
    margin-top: -3px;
  }

  .is-active .footer__accordion-button::before {
    content: none;
    transition: 0.5s;
  }
}
